@import './base.css';
@import 'bootstrap';

/* GLOBAL */
body {
  font-family: "Saira", sans-serif;
}

.border-btn {
border-radius: 5px;
}

.title-page {
  padding-top: 25px;
}

/* HomePage */
h1 span {
  color: #2AAA94;
}

.card-body {
  background-color: #f8f9fa;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.card {
  margin-left: 30px;
  border-radius: 23px;
}

.paragrah-page {
  margin-bottom: 40px;
}

.btn-home {
  background-color: #2AAA94;
  color: white;
  padding: 7px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn-home:hover {
  background-color: #268e7d;
  border-color: #2AAA94;
}

.btn-home:active {
  background-color: #1f7e6e;
  border-color: #1f7e6e;
}


/* LoginPage */
.title-page-login {
  margin-bottom: 30px;
}

.btn-primary {
  width: 100%;
}

.form-label {
  display: flex;
  justify-content: start;
}

.img-size {
  width: 30em;
  height: auto;
}

.form-login {
  padding-right: 80px;
  margin-left: 40px;
}

.btn-login {
  background-color: #2AAA94;
  color: white;
  padding: 7px;
  text-align: center;
  border: none;
}

.btn-login:hover {
  background-color: #268e7d;
  border-color: #2AAA94;
}

.btn-login:active {
  background-color: #1f7e6e;
  border-color: #1f7e6e;
}


/* ErrorPage */
.margin-error {
  margin-top: 15em;
}

.error-color {
  color: #2AAA94;
}

/* DashboardPage */
.rounded-image {
  border-radius: 50%;
}

.custom-card {
  background-color: rgba(42, 170, 148, 0.2);
}

.container-dashboard {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.margin-top-dashboard {
  margin-top: -10px;
}

.button-wrapper-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-dashboard {
  background-color: #2AAA94;
  color: white;
  padding: 7px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn-dashboard:hover {
  background-color: #268e7d;
  border-color: #2AAA94;
}

.btn-dashboard:active {
  background-color: #1f7e6e;
  border-color: #1f7e6e;
}


/* InputPage */
.page-link {
  color: #2AAA94;
}

.page-link:hover {
  background-color: #2AAA94;
  color: white;
}

/* OutputMenu */
.custom-card-outputmenu {
  background-color: rgba(42, 170, 148, 0.2);
}

.container-outputmenu {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.margin-top-outputmenu {
  margin-top: -10px; 
}

.button-wrapper-outputmenu {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-decoration: none; 
}

.btn-outputmenu {
  background-color: #2AAA94; 
  color: white; 
  padding: 7px; 
  text-align: center; 
  padding-left: 8px;
  padding-right: 8px;  
  width: 50%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: none;
}

.btn-outputmenu:hover {
  background-color: #268e7d; 
  border-color: #2AAA94; 
}


/* OutputMenu */
.btn-navbar {
  background-color: #2AAA94;
  color: white;
  padding: 7px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn-navbar:hover {
  background-color: #268e7d;
  border-color: #2AAA94;
}

.btn-navbar:active {
  background-color: #1f7e6e;
  border-color: #1f7e6e;
}

.custom-bg-color-navbar {
  background-color:#edfdfa
}