@import './base.css';
@import 'bootstrap';


body {
  font-family: "Saira", sans-serif;
  margin: 20px;
}

h1 span{
  color: #2AAA94;
}

.title-page{
  padding-top: 60px;
}
.card{
  margin-left: 30px;
  border-radius: 23px;
}

.paragrah-page{
margin-bottom: 40px;
}

.card-body {
  background-color: #f8f9fa; /* warna latar belakang */
  border-radius: 8px; /* border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* bayangan */
}

.card-img-top {
  border-top-left-radius: 8px; /* border radius pojok atas kiri gambar */
  border-top-right-radius: 8px; /* border radius pojok atas kanan gambar */
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.title-page-login {
  margin-bottom: 30px;
}


.btn-primary {
  width: 100%;
}

.img-size{
  width: 30em;
  height: auto;
}

.form-login{
  padding-right: 80px;
  margin-left: 40px;
}

.btn-login {
  background-color: #2AAA94;
  border-color: #2AAA94;
  color: white; 
  padding: 7px;
  text-align: center;
}

.btn-login:hover {
  background-color: #2AAA94;
  border-color: #2AAA94;
}